body {
  font-family: Georgia, serif;
  margin: auto;
  max-width: 600px;
  background-color: #ece5e2;
    color: #da0000;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  padding: 40px;
  box-sizing: border-box;
}

a {
  color: #da0000;
  text-decoration: none;
  border-bottom: 1px solid #da0000;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

hr {
  margin-top: 20px;
  border: 0;
    border-bottom: 1px solid #da0000;
}

p {
  font-size: 24px;
  line-height: 33px;
}
