body {
  font-family: Georgia, serif;
  margin: auto;
  max-width: 600px;
  background-color: #e2e9ec;
    color: #013ab4;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  padding: 40px;
  box-sizing: border-box;
}

a {
  color: #013ab4;
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

hr {
  margin-top: 20px;
  border: 0;
    border-bottom: 1px solid #013ab4;
}

p {
  font-size: 24px;
  line-height: 35px;
}

img {
  width: 200px;
}

img a {
  background-color: transparent!important;
}
